alias bc="bc -l"
alias ls="ls --color=auto"
alias imgcat="wezterm imgcat"
{{- if eq .chezmoi.os "darwin" }}
alias slocate="mdfind -name"
{{- end }}
{{- if eq .chezmoi.os "linux" }}
alias fd=fdfind
{{- end }}
alias wake="ssh w caffeinate -ut 1"
alias dog=doggo
alias ssh-add="ssh-add -t 1d"
alias wotp="gopass otp cowens@papa.okta.com -c"
alias diff="diff -u"
alias vim="vim -g"
