{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

if ! which brew; then
	/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
	export PATH="/opt/homebrew/bin:$PATH"
fi

brew bundle --no-lock --file=/dev/stdin <<EOF
# homebrew extensions to autoupdate
tap "homebrew/autoupdate"

tap "homebrew/bundle"
tap "homebrew/services"
brew "python@3.11"
brew "chezmoi"
brew "cmake"
brew "csvkit"
brew "doggo"
brew "duckdb"
brew "fd"
brew "gau"
brew "gopass"
brew "git"
brew "jq"
brew "markdown"
brew "pandoc"
brew "pinentry-mac"
brew "plenv"
brew "reattach-to-user-namespace"
brew "telnet"
brew "the_silver_searcher"
brew "tmux"
brew "watch"
brew "websocat"
brew "wget"
cask "itsycal"
cask "karabiner-elements"
cask "logi-options-plus"
cask "wezterm"
EOF

mkdir -p /Users/cowens/Library/LaunchAgents

brew autoupdate delete
brew autoupdate start 43200 --upgrade --cleanup --immediate --sudo
{{- else if eq .chezmoi.os "linux" -}}
#!/bin/bash

cd
{{- if eq .chezmoi.hostname "penguin" }}
ln -fs /mnt/chromeos/MyFiles/Downloads downloads
ln -fs Downloads downloads
sudo chsh -s /usr/bin/zsh cowens
{{- end }}

curl -fsSL https://apt.fury.io/wez/gpg.key | sudo gpg --yes --dearmor -o /usr/share/keyrings/wezterm-fury.gpg
echo 'deb [signed-by=/usr/share/keyrings/wezterm-fury.gpg] https://apt.fury.io/wez/ * *' | sudo tee /etc/apt/sources.list.d/wezterm.list

sudo apt update
sudo apt upgrade -y
sudo apt install -y silversearcher-ag mosh build-essential lsof strace zsh wl-clipboard fd-find tmux wezterm


if [[ ! -d .plenv ]]; then
	git clone https://github.com/tokuhirom/plenv.git ~/.plenv
	git clone https://github.com/tokuhirom/Perl-Build.git ~/.plenv/plugins/perl-build/
	export PATH="$HOME/.plenv/bin:$PATH"
	eval "$(plenv init - zsh)"
	latest_perl=$(curl https://fastapi.metacpan.org/v1/release/perl | jq -r .version | perl -nle 'print join ".", grep { length } /(\d+)[.](?:00(.)|0(..)|(...))(?:00(.)|0(..)|(...))/')
	plenv install $latest_perl
	plenv global $latest_perl
	plenv install-cpanm
fi
{{ end -}}
