{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
# homebrew extensions to autoupdate
tap "homebrew/autoupdate"

tap "homebrew/bundle"
tap "homebrew/services"
brew "python@3.11"
brew "chezmoi"
brew "cmake"
brew "csvkit"
brew "doggo"
brew "duckdb"
brew "fd"
brew "gau"
brew "git"
brew "jq"
brew "markdown"
brew "pandoc"
brew "pinentry-mac"
brew "plenv"
brew "reattach-to-user-namespace"
brew "telnet"
brew "the_silver_searcher"
brew "tmux"
brew "watch"
brew "websocat"
brew "wget"
cask "wezterm"
EOF

brew autoupdate delete
brew autoupdate start 43200 --upgrade --cleanup --immediate --sudo
{{- else if eq .chezmoi.os "linux" -}}
#!/bin/bash

cd
{{- if eq .chezmoi.hostname "penguin" }}
ln -fs /mnt/chromeos/MyFiles/Downloads downloads
ln -fs Downloads downloads
sudo chsh -s /usr/bin/zsh cowens
{{- end }}

sudo apt update
sudo apt upgrade -y
sudo apt install -y silversearcher-ag mosh build-essential lsof strace zsh wl-clipboard fd-find tmux

if [[ ! -d .plenv ]]; then
	git clone https://github.com/tokuhirom/plenv.git ~/.plenv
	git clone https://github.com/tokuhirom/Perl-Build.git ~/.plenv/plugins/perl-build/
	export PATH="$HOME/.plenv/bin:$PATH"
	eval "$(plenv init - zsh)"
	latest_perl=$(curl https://fastapi.metacpan.org/v1/release/perl | jq -r .version | perl -nle 'print join ".", grep { length } /(\d+)[.](?:00(.)|0(..)|(...))(?:00(.)|0(..)|(...))/')
	plenv install $latest_perl
	plenv global $latest_perl
	plenv install-cpanm
fi
{{ end -}}
